<!DOCTYPE html>
<html>
<head>
	<title></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

</head>
<body>
  <div class="container">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand/logo -->
  <a class="navbar-brand" href="#">
    <img src="../img/minis.png" alt="logo" style="width:40px;">   Instituto de salud pública ISP
  </a>
  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <a class="nav-link" href="inicio.html">Inicio</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="registroClientes.html">Cliente</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        Intranet
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="/contacto">Registrar contacto</a>
        <a class="dropdown-item" href="/actempresa">Registrar Empresa</a>
        <a class="dropdown-item" href="registroParticular.html">Registrar Particular</a>
        <a class="dropdown-item" href="registroMuestra.html">Registrar Muestra</a>
      </div>
    </li>
  </ul>
  </ul>
    </nav>
  </div>

	<br>
<div class="container  text-center">
  
  
  
  <div class="w3-row-padding w3-padding-64 w3-container">
      <div class="w3-content">
        <div class="w3-twothird">
          <h1>Mision</h1>
          <br>
          <h5 class="w3-padding-32">Implementar, conforme a la ley, sistemas alternativos de solución de controversias sobre responsabilidad civil de prestadores individuales e institucionales, públicos o privados, originada en el otorgamiento de acciones de salud, sin perjuicio de las acciones jurisdiccionales correspondientes.</h5>
        </div>
  
      </div>
    </div>
    <br>

    <div class="text-center display-4"><strong>Noticias del instituto ISP</strong></div>
 
  <br>
  <br>
  <div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
       
          <img src="../img/noticia1.jpg" alt="" style="width:100%">
          <br>
          
          <div class="container text-center">
            <p class="text-primary">Ministro de Salud se reunió con directores de hospitales autogestionados del país.</p>
          </div>
          <div class="caption">
            <br>
            <p>Durante el miércoles 27 y el jueves 28 de junio se efectuó un encuentro entre el Ministro de Salud, Emilio Santelices, la subsecretaria de Redes Asistenciales, Gloria Burgos,
               y los directores de los hospitales autogestionados de la red a nivel nacional, en dependencias del Minsal.</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        
          <img src="../img/noticia2.png" alt="" style="width:100%">
          <br>
          
          <div class="container text-center">
            <p class="text-primary">Nuevo impulso a Red Nacional permitirá concretar moderno laboratorio en Región de Valparaíso</p>
          </div>
          <div class="caption">
            <p>Con el propósito de desarrollar análisis específicos de toxicología ocupacional, metales pesados, contaminación ambiental, residuos plaguicidas, 
              micronutrientes y microtoxinas, próximamente se construirá un nuevo laboratorio de Salud Pública en la región de Valparaíso. </p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        
          <img src="../img/noticia3.jpg" alt="" style="width:100%">
          <br>
          
          <div class="container text-center">
            <p class="text-primary">Ministro de Salud se refiere a la entrada en vigencia del segundo tramo de la Ley de Etiquetado</p>
          </div>
          <div class="caption">
            <p>El Ministro de Salud, Emilio Santelices, y la Subsecretaria de Salud Pública, Paula Daza, anunciaron este miércoles 27 de junio la entrada en vigencia del segundo tramo de la Ley de Alimentos 20.606,
               más conocida como Ley de Etiquetado, que establece nuevos límites de nutrientes.</p>
          </div>
        </a>
      </div>
    </div>
  </div>

</div>


</body>
</html>