<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand/logo -->
  <a class="navbar-brand" href="#">
    <img src="../img/minis.png" alt="logo" style="width:40px;">   Instituto de salud pública ISP
  </a>
  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <a class="nav-link" href="inicio.html">Inicio</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="registroClientes.html">Cliente</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        Intranet
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="registroContacto.html">Registrar contacto</a>
        <a class="dropdown-item" href="registroEmpresa.html">Registrar Empresa</a>
        <a class="dropdown-item" href="registroParticular.html">Registrar Particular</a>
        <a class="dropdown-item" href="registroMuestra.html">Registrar Muestra</a>
      </div>
    </li>
  </ul>
  </ul>
    </nav>
  </div>
  
	
<div class="container text-left">
  <div class="jumbotron">
  <div class="row">

                <div class="col-5 container-fluid">
                <img src="../img/s.jpg" class="float-left">
                </div>
                <div class="col-5 container text-center">
                    <div class="container">
                         <h2 class="especial">Registro de Particular</h2>
                        <br>

                        <form method="post">

                            <center>




                                <tr>

                                    <td>
                                        <input type="text" class="form-control" requiered="required" name="txtrut" id="" aria-describedby="helpId" placeholder="Ingrese rut"
                                            required="required">
                                    </td>
                                </tr>
                                <br>

                                <tr>

                                    <td>
                                        <input type="text" class="form-control" requiered="required" name="txtnombre" id="" aria-describedby="helpId" placeholder="Ingrese nombre"
                                            required="required">
                                    </td>
                                </tr>

                                <br>

                                <tr>

                                    <td>
                                        <input type="text" class="form-control" requiered="required" name="txtpassword" id="" aria-describedby="helpId" placeholder="Ingrese password"
                                            required="required">
                                    </td>
                                </tr>
                                <br>

                                <tr>

                                    <td>
                                        <input type="text" class="form-control" requiered="required" name="txtemail" id="" aria-describedby="helpId" placeholder="Ingrese email"
                                            required="required">
                                    </td>
                                </tr>
                                <br>
                                <tr>

                                    <td>
                                        <input type="text" class="form-control" requiered="required" name="txtdireccion" id="" aria-describedby="helpId" placeholder="Ingrese Direccion"
                                            required="required">
                                    </td>
                                </tr>

                                <br>
                                <br>
                                <br>


                                <p></p>
                             <input type="submit" class="col-10 btn btn-primary" value="Registrar">
                            </center>



                        </form>
                    </div>
                </div>

</body>
</html>